.game {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

@media screen and (min-width: 500px) {
    .game {
        width: 500px;
    }
}

@media screen and (min-width: 667px) {
    .game {
        width: 75%;
    }
}

.title {
    margin-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

.game-board {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
