.poll-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.form-label {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.submit-btn {
    width: 100px;
}